<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Canillitapp Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Canillitapp Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Headlines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HeadlinesMockedUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>HeadlinesTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HeadlinesUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Notifications.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>SnapshotUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>notifications.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6712660D1F4D08600005CF4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6719DA5E1D6D143E00D1E214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671DC3641EE35F3F000CBAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671DC3721EE35FB3000CBAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>675A81DB1D6BF6E8000DC680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>675A81F11D6BF6E8000DC680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>675A81FC1D6BF6E8000DC680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
